/* Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/*Global*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*----------------------------------------------*/
/* header */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  width: 70px;
}

.header .container .links {
  position: relative;
}

.header .container .links:hover ul {
  display: block;
}

.header .container .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .container .links .icon span {
  background-color: black;
  height: 3px;
  margin-bottom: 5px;

}

.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .container .links .icon span:first-child,
.icon span:last-child {
  width: 100%;
}

.header .container .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

.header .container .links ul {
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 10px);
  display: none;
  z-index: 1;
}

.header .container .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -19px;
}

.header .container .links ul li {
  padding: 15px;
}

.header .container .links ul li a {
  color: #333;
  transition: 0.3s;
}

.header .container .links ul li a:hover {
  padding-left: 10px;
}

.header .container .links ul li:not(:last-child) {
  border-bottom: 1px solid #DDD;
}

/*----------------------------------------------*/
/* Landing */
.landing {
  background-image: url(../img/pexels-pixabay-355747.jpg);
  background-size: cover;
  height: calc(100vh - 110px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
  max-width: 100%;
}

.landing .intro-text h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}

.landing .intro-text p {
  font-size: 20px;
  line-height: 1.8;
}

/*----------------------------------------------*/
/* features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.features .container .feat {
  padding: 20px;
  text-align: center;
}

.features .container .feat h3 {
  margin: 20px;
  font-weight: 900;
}

.features .container .feat p {
  color: #777;
  line-height: 1.8;
  font-size: 18px;

}

.features .container .feat i {
  color: var(--main-color);
}

/*----------------------------------------------*/
/* services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;

}

.services .container h2 {
  font-size: 100px;
  color: #ebeced;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
}

.services .container h2+p {
  margin: -30px 0 0;
  text-align: center;
  font-size: 20px;
  color: #797979;
}

.services .container .serv-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.services .container .serv-content .serv {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .container .serv-content .serv {
    flex-direction: column;
    text-align: center;
  }
}

.services .container .serv-content .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .container .serv-content .serv .text {
  flex: 1;
}

.services .container .serv-content .serv h3 {
  margin-bottom: 20px;
}

.services .container .serv-content .serv p {
  color: #444;
  font-weight: 300;
  line-height: 1.4;
}

.services .container .serv-content .image {
  text-align: center;
  position: relative;
}

.services .container .serv-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  right: 0;
  top: -50px;
  z-index: -1;
}

.services .container .serv-content .image img {
  width: 260px;
}

@media screen and (max-width:1199px) {
  .services .container .serv-content .image {
    display: none;
  }
}

/*----------------------------------------------*/
/* portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.portfolio .container h2 {
  font-size: 100px;
  color: #ebeced;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
}

.portfolio .container h2+p {
  margin: -30px 0 0;
  text-align: center;
  font-size: 20px;
  color: #797979;
}

.portfolio .container .port-content {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  gap: 30px;
  margin-top: 80px;
}

.portfolio .container .port-content .port {
  background-color: white;
}

.portfolio .container .port-content .port .image {}

.portfolio .container .port-content .port .image img {
  max-width: 100%;
}

.portfolio .container .port-content .port .text {
  padding: 20px;
}

.portfolio .container .port-content .port .text h3 {
  margin-bottom: 20px;
}

.portfolio .container .port-content .port .text h3+p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}

/*----------------------------------------------*/
/* about */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about .container h2 {
  font-size: 100px;
  color: #ebeced;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
}

.about .container h2+p {
  margin: -30px 0 0;
  text-align: center;
  font-size: 20px;
  color: #797979;
}

.about .container .about-content {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width:991px) {
  .about .container .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.about .container .about-content .image {
  position: relative;
  width: 300px;
  height: 400px;
}

@media (max-width:991px) {
  .about .container .about-content .image {
    margin: 0 auto 60px;
  }
}

.about .container .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  top: -40px;
  left: -20px;
  z-index: -1;
}

.about .container .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  right: -150px;
  top: -40px;
  z-index: -1;
}

@media (max-width:767px) {

  .about .container .about-content .image::before,
  .about .container .about-content .image::after {
    display: none;
  }
}

.about .container .about-content .image img {
  width: 100%;
}

.about .container .about-content .text {
  flex-basis: calc(100% - 500px);
}

.about .container .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}

.about .container .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
  margin-bottom: 20px;
}

.about .container .about-content .text p:last-of-type {
  font-weight: bold;
  line-height: 2;
  color: #777;
}

/*----------------------------------------------*/
/* contact */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.contact .container h2 {
  font-size: 100px;
  color: #ebeced;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
}

.contact .container h2+p {
  margin: -30px 0 0;
  text-align: center;
  font-size: 20px;
  color: #797979;
}

.contact .container .contact-content {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.contact .container .contact-content .label {
  font-size: 30px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.contact .container .contact-content .link {
  font-size: 25px;
  font-weight: 800;
  color: var(--main-color);
}

.contact .container .contact-content .social {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 17px;
}

.contact .container .contact-content .social i {
  color: var(--secondary-color);
}

/*----------------------------------------------*/
/* footer */
.footer {
  background-color: var(--secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}

.footer .container span {
  color: var(--main-color);
}

